# Ignorar la carpeta de entorno virtual
env/
.streamlit/secrets.toml
# Ignora la carpetas de variables de entorno
.env

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db